<div class="container">
    <h2>Dismissal Alert Messages</h2>
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Success! message sent successfully.
    </div>
</div>