
@{
    ViewData["Title"] = "Spa";
}

    <div id="spa" class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2>The perfect zone for you to train your body</h2>
                <p>
                    Hotel Fitness is open 24/7. Work out in the modern fitness centre, enjoy the top of the line fitness equipment and best coaches!
                    Make a procedure appointment by calling to our reception. If you call us before you visit the fitness we will make sure you have a warm welcome and ready to drink isotonic.
                    <br />
                    Welcome!
                </p>

                <br />


                <p class="font-weight-bold"> Reservations for the fitness are made in the reception desk!
                    <br/>
                    If you are guest of the hotel you can use our fitness center free of charge!
                    </p>
            </div>

            <div id="spaImgSlider" class="col-lg-7">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://res.cloudinary.com/dp73jqinw/image/upload/v1609101818/pexels-photo-2475878_wtctlx.jpg" width="585" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://res.cloudinary.com/dp73jqinw/image/upload/v1609101823/pexels-photo-4164449_ljabtg.jpg" width="585" />
                        </div>
                        <div class="carousel-item">
                            <img src="https://res.cloudinary.com/dp73jqinw/image/upload/v1609101830/pexels-photo-4164760_wjw6pu.jpg" width="585"/>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
    </div>