@{
    ViewData["Title"] = "Room edit";
}
@model Hotel.Web.ViewModels.RoomViewModels.EditRoomViewModel

<section id="conferenceHallReserveForm">
    <div class="container">
        <div id="reserveHeader" class="d-flex justify-content-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Room reservations</h2>
                </div>
            </div>
        </div>
        <div id="createRoomHeader" class="d-flex justify-content-center">
            <div class="row">
                <div class="col-lg-12">
                    <form asp-controller="Accomodation" asp-action="CreateRoom">
                        <div class="form-check">
                            <label>Room type</label>
                            <select class="form-control" asp-for="RoomType">
                                <option value="1">Single room</option>
                                <option value="2">Double room</option>
                                <option value="3">Apartment</option>
                            </select>
                            <span asp-validation-for="RoomType" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <label>Price</label>
                            <input class="form-control" asp-for="Price">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <label>Number of beds</label>
                            <input class="form-control" asp-for="NumberOfBeds">
                            <span asp-validation-for="NumberOfBeds" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <label>Bathroom</label>
                            <input type="checkbox" asp-for="HasBathroom">
                        </div>
                        <div class="form-check">
                            <label>Room service</label>
                            <input type="checkbox" asp-for="HasRoomService">
                        </div>
                        <div class="form-check">
                            <label>Sea view</label>
                            <input type="checkbox" asp-for="HasSeaView">
                        </div>
                        <div class="form-check">
                            <label>Mountain view</label>
                            <input type="checkbox" asp-for="HasMountainView">
                        </div>
                        <div class="form-check">
                            <label>WiFi</label>
                            <input type="checkbox" asp-for="HasWifi">
                        </div>
                        <div class="form-check">
                            <label>TV</label>
                            <input type="checkbox" asp-for="HasTv">
                        </div>
                        <div class="form-check">
                            <label>Phone</label>
                            <input type="checkbox" asp-for="HasPhone">
                        </div>
                        <div class="form-check">
                            <label>Air conditioner</label>
                            <input type="checkbox" asp-for="HasAirConditioner">
                        </div>
                        <div class="form-check">
                            <label>Heater</label>
                            <input type="checkbox" asp-for="HasHeater">
                        </div>

                        @*<div class="form-check">
                            <input multiple asp-for="Pictures" type="file" class="btn btn-info">
                            <span asp-validation-for="Pictures" class="text-danger"></span>
                        </div>*@

                        <input type="submit" value="Edit" class="btn btn-outline-dark" asp-area="" asp-controller="Room" asp-action="Edit">

                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
