@page
@using Hotel.Web.Areas.Identity.Pages.Account.Manage
@model Hotel.Web.Areas.Identity.Pages.Account.Manage.PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Personal data</h4>

<div class="row">
    <div class="col-md-6">
        <p>Your account has private information about you, which you have given us. This page is giving you access to download this data or delete it.</p>
        <p>
            
            <strong>Deleting that data will erase your account permanently. That action can't be restored.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-outline-dark" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-outline-dark">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}