
@{
    ViewData["Title"] = "Spa";
}

    <div id="spa" class="container">
        <div class="row">
            <div class="col-lg-5">
                <h2>The perfect zone for your relaxation</h2>
                <p>
                    It’s the ultimate in mindfulness: Indulge yourself in a spa getaway that soothes the body and mind.
                    Hotel brand hotels feature some of the world’s most luxurious spas. 
                    Relax with a treatment of your choice, or indulge in a full day of pampering. Search for available dates, locations and rates.
                </p>
                <br/>
                <p class="font-weight-bold">
                    Reservations for the spa are made from the reception desk!
                    <br/>
                    If you are guest of the hotel you can use our spa center free of charge!
                </p>
            </div>

            <div id="spaImgSlider" class="col-md-7">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://res.cloudinary.com/dp73jqinw/image/upload/v1609101427/love-romantic-bath-candlelight_hg8z4n.jpg" height="750"/>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://res.cloudinary.com/dp73jqinw/image/upload/v1609101436/pexels-photo-1543442_ck4js5.jpg" height="750"/>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://res.cloudinary.com/dp73jqinw/image/upload/v1609101444/pexels-photo-3101547_noslbj.jpg" height="750" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://res.cloudinary.com/dp73jqinw/image/upload/v1609101499/pexels-photo-3997983_voqelg.jpg" height="750" />
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
    </div>